<!--
 * @Author: YangQi
 * @Date: 2020-07-02 15:45:40
 * @LastEditors: YangQi
 * @LastEditTime: 2020-07-02 16:25:48
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" action="post">
        <input type="text" name="name"/>
        <input type="text" age="" /> 
        <input type="submit" />
    </form>
</body>
</html>